body,*{    
    margin: 0;
    padding: 0;}

body {
    background: darkred;
    font-size: 150%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main-text {
    font-family: 'IM Fell English SC', serif;
    margin: 0 auto;
    color: darkgoldenrod;
    text-align: center;
}

canvas {
    display: block;
    margin: 5px auto;
    background: tan;

}

img {
    border: solid 5px darkgoldenrod;
    width: 20%;
    height: auto;
    margin: 5px;

}

.right-img {
    width: 20%;
    float: right;
    clear: right;
}

.left-img {
    width: 20%;
    clear: left;
    float: left;
}

#btn1{
    position: absolute;
}


#start-button{
    background-color: silver;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    font-size: 16px;
}


#keyboard-layout{
    width: 60%;
}

/*
canvas{
    float: right;
}

#keyboard-img{

    float: right;
    height: 480px;
    width:auto;
    border: none;
    padding: 0;
   margin: 0; 
}
#harpsichord{
    float: none;
}
*/


@media screen and (max-width: 1100px ) {
img {display: none;}

}
